<b>Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.</b>

In [1]:
import pandas as pd
df = pd.DataFrame({
    'Time_Studied': [3,4,6,1,9],
    'Marks_Obtained': [30,45,65,24,94]
})
df

   Time_Studied  Marks_Obtained
0             3              30
1             4              45
2             6              65
3             1              24
4             9              94

In [2]:
df.corr(method='pearson')

                Time_Studied  Marks_Obtained
Time_Studied         1.00000         0.98716
Marks_Obtained       0.98716         1.00000

Interpretation:
The Pearson's correlation coefficients in the given results indicate a very strong positive correlation between the variables of "Time_Studied" and "Marks_Obtained".

Both correlation coefficients are close to 1.000, which means that there is a very strong positive relationship between the two variables. This suggests that as "Time_Studied" increases, "Marks_Obtained" also increases.

<b>Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables. Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.</b>

In [3]:
df = pd.DataFrame({
    'Sleep_Amount': [6,7,4,8,8,9],
    'Job_Satisfaction': [7,8,4,8,9,10]
})
df

   Sleep_Amount  Job_Satisfaction
0             6                 7
1             7                 8
2             4                 4
3             8                 8
4             8                 9
5             9                10

In [4]:
df['Sleep_Amount'].corr(df['Job_Satisfaction'], method='spearman')

0.9558823529411764

In [5]:
df.corr(method='spearman')

                  Sleep_Amount  Job_Satisfaction
Sleep_Amount          1.000000          0.955882
Job_Satisfaction      0.955882          1.000000

The correlation coefficient between Sleep Amount and Job Satisfaction is 0.95, which is close to +1. This indicates a strong positive monotonic correlation between these two variables.

As the amount of sleep individuals get each night increases, their overall job satisfaction level tends to increase as well. Conversely, as the amount of sleep decreases, job satisfaction tends to decrease.

<b>Q3. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.</b>

To calculate the Pearson correlation coefficient and the Spearman's rank correlation between the number of hours of exercise per week and body mass index (BMI) in a sample of 50 adults, we need to have data for both variables.

We can use Python to generate random data for both variables and then calculate the Pearson and Spearman's rank correlation between them:

In [6]:
import numpy as np
num_of_hours = np.random.normal(5, 2, 50)
bmi = np.random.normal(25, 5, 50)
df = pd.DataFrame({
    'num_of_hours': num_of_hours,
    'bmi': bmi
})
df.head()

   num_of_hours        bmi
0      7.445452  35.484284
1      7.129657  22.484328
2      4.085120  20.953152
3      3.795778  24.003154
4      4.806238  25.957113

<b>Pearson's Coefficient Correlation:</b>

In [7]:
df.corr(method='pearson')

              num_of_hours       bmi
num_of_hours      1.000000 -0.067884
bmi              -0.067884  1.000000

<b>Spearman's Rank Correlation:</b>

In [8]:
df.corr(method='spearman')

              num_of_hours       bmi
num_of_hours      1.000000 -0.058727
bmi              -0.058727  1.000000

The Pearson correlation coefficient measures the linear relationship between two variables, and it ranges from -1 (perfect negative correlation) to +1 (perfect positive correlation), with 0 indicating no correlation. In this case, the Pearson correlation coefficient between num_of_hours and bmi is -0.067, which indicates a weak positive correlation between the two variables.

On the other hand, the Spearman correlation coefficient measures the monotonic relationship between two variables, which means it assesses the strength and direction of a relationship between two variables, without assuming any particular functional form of the relationship. It also ranges from -1 to +1, with 0 indicating no correlation. In this case, the Spearman correlation coefficient between num_of_hours and bmi is -0.058, which also indicates a weak positive correlation between the two variables.

<b>Q4. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.</b>

To calculate the Pearson correlation coefficient between the number of hours individuals spend watching television per day and their level of physical activity of hours of exercise per week in a sample of 50 pariticipants, we need to have data for both variables.

We can use Python to generate random data for both variables and then calculate the Pearson correlation coeffiecients:

In [13]:
num_of_hours = np.random.normal(6, 4, 50)
amount_of_activity= np.random.normal(10, 6, 50)
df = pd.DataFrame({
    'num_of_hours': num_of_hours,
    'physical_activity': amount_of_activity
})
df.head()

   num_of_hours  physical_activity
0      5.518184           8.738560
1      9.686237          14.675556
2     -1.611170          26.760398
3      0.489396           8.478332
4      6.486763           5.324879

<b>Pearson's Coefficient Correlation:</b>

In [14]:
df.corr(method='pearson')

                   num_of_hours  physical_activity
num_of_hours           1.000000          -0.234714
physical_activity     -0.234714           1.000000

<b>Q5. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below:
    
    Age               Softdrinks
    
    25                 Coke
    42                 Pepsi
    37                 Mountain Dew
    19                 Coke
    31                 Pepsi
    28                 Coke
</b>

In [15]:
df = pd.DataFrame({
    "Age(Years)": [25, 42, 37, 19, 31, 28],
    "Soft Drink Preference": ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
})
df

   Age(Years) Soft Drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain Dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

In [16]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoded_col = encoder.fit_transform(df['Soft Drink Preference'])
df_encoded = pd.DataFrame(encoded_col, columns=['Soft Drink Preference Enc'])
df_new = pd.concat([df, df_encoded], axis=1)
df_new = df_new.drop('Soft Drink Preference', axis=1)
df_new

   Age(Years)  Soft Drink Preference Enc
0          25                          0
1          42                          2
2          37                          1
3          19                          0
4          31                          2
5          28                          0

<b>Pearson's Coefficient Correlation:</b>

In [18]:
df_new.corr(method='pearson')

                           Age(Years)  Soft Drink Preference Enc
Age(Years)                   1.000000                   0.769175
Soft Drink Preference Enc    0.769175                   1.000000

<b>Q6. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.</b>

In [21]:
import numpy as np
import pandas as pd

# Set a random seed for reproducibility
np.random.seed(42)

# Generate sample data for number of sales calls made per day and number of sales made per week
sales_calls_per_day = np.random.randint(50, 100, size=30)  # Generate 30 random integers between 50 and 100
sales_per_week = np.random.randint(5, 20, size=30)  # Generate 30 random integers between 5 and 20

# Create a DataFrame to store the data
data = {'Sales_Calls_Per_Day': sales_calls_per_day,
        'Sales_Per_Week': sales_per_week}
df = pd.DataFrame(data)

# Print the DataFrame
print("DataFrame:")
print(df)

DataFrame:
    Sales_Calls_Per_Day  Sales_Per_Week
0                    88              15
1                    78              15
2                    64              19
3                    92              14
4                    57              16
5                    70              16
6                    88              19
7                    68              18
8                    72              18
9                    60              19
10                   60              18
11                   73               7
12                   85              16
13                   89              11
14                   73               8
15                   52              13
16                   71               7
17                   51               9
18                   73               7
19                   93              11
20                   79               9
21                   87              13
22                   51              11
23                   70               6
24                   82               8
25                   61              13
26                   71              16
27                   93              18
28                   74               6
29                   98              14

<b>Pearson's Coefficient Correlation:</b>

In [20]:
df.corr(method='pearson')

                     Sales_Calls_Per_Day  Sales_Per_Week
Sales_Calls_Per_Day              1.00000         0.02176
Sales_Per_Week                   0.02176         1.00000

<b>Spearman's Rank Correlation:</b>

In [23]:
df.corr(method='spearman')

                     Sales_Calls_Per_Day  Sales_Per_Week
Sales_Calls_Per_Day             1.000000       -0.058732
Sales_Per_Week                 -0.058732        1.000000